@model KNGSoftware.Models.ViewModels.Newses.KNGNewsVm
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>@Model.Name</h2>
    </div>
    <div class="panel-body">
        <img src="@Model.Image" alt="Image" class="img-thumbnail" width="304" />

        <div>
            @Model.PublishDateTime
        </div>
    </div>
    @if (User.IsInRole("KNGAdmin"))
    {
        <div class="btn-group-kng">
            <a href="/admin/news/details/@Model.Id" class="btn btn-primary">Details</a>
            <a href="/admin/news/edit/@Model.Id" class="btn btn-primary">Edit</a>
            <a href="/admin/news/delete/@Model.Id" class="btn btn-danger">Delete</a>
        </div>

    }
    else
    {
        <div class="btn-group-kng">
            <a href="/news/details/@Model.Id" class="btn btn-primary">Details</a>

        </div>
    }
</div>

