@model IEnumerable<KNGSoftware.Models.ViewModels.Services.KNGServiceVm>
@{
    ViewBag.Title = "Admin Service";
}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/admin/news">News</a></li>
    <li role="presentation" class="active"><a href="/admin/service">Service</a></li>
    <li role="presentation"><a href="/admin/product">Product</a></li>
</ul>
@Html.ActionLink("Add service", "add", "Service", new { Area = "Admin" }, new { @class = "btn btn-info" })
<h2>Admin Services</h2>

@Html.DisplayForModel(Model)
