@model KNGSoftware.Models.ViewModels.MyKNG.KNGMyKNG
@{
    ViewBag.Title = "All";
}

<h2>My service</h2>
<hr/>
@Html.DisplayFor(m => Model.Services)
<h2>My products</h2>
<hr/>
@Html.DisplayFor(m => Model.Products)