@model IEnumerable<KNGSoftware.Models.ViewModels.Newses.KNGNewsVm>
@{
    ViewBag.Title = "Admin News";
}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/admin/news">News</a></li>
    <li role="presentation"><a href="/admin/service">Service</a></li>
    <li role="presentation"><a href="/admin/product">Product</a></li>
</ul>
@Html.ActionLink("Add news", "add", "News", new {Area = "Admin"},new {@class = "btn btn-info"})
<h2>Admin News</h2>

@Html.DisplayForModel(Model)



